*{
    box-sizing: border-box;
}
body{
    background-color: #00203FFF;
    overflow: auto;
}
.mastcont{
    margin-top: 15vh;
}
.container{
    transition: 0.5s;
}
.container:hover{
    transform: scale(1.1);
    box-shadow: 5px 10px 5px;
    opacity: 50%;
}
.col {
    float: left;
    width: auto;
    padding: 0 10px;
    width: 20%;
    margin-left: 9vw;
    margin-top: 15px;
  }
  .row {margin: 50 0px;}
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  @media screen and (max-width: 600px) {
    .col {
      width: 100%;
      display: block;
      margin-bottom: 20px;
      margin-left: 13vw;
    }
    .mastcont{
        font-size: 40;
    }
  }
  .header{
      background-color: rgb(0, 247, 255);
      height: 7vh;
      column-width: 100%;
      font-weight: bold;
      text-align: center;
      font-size: 40px;
  }
  .col .container button{
    position: absolute;
    top: 50%;
    left: 50% ;
    background-color: red;
    align-items: center;
  }